<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <meta http-equiv="Content-Security-Policy">
    <title>TLScontact</title>
    <link rel="icon" href="/auth/resources/huxh1/login/tlscitizen-schengen/img/favicon.ico">
    <link rel="stylesheet" href="/auth/resources/huxh1/login/tlscitizen-schengen/css/index.css">
<link rel="stylesheet" href="/auth/resources/huxh1/login/tlscitizen-schengen/css/index.css">
    <script>
      console.log("THE CURRENT LANGUAGE IS: en");
        window.tlsGlobals = {
            LOCALE: 'en',
            DIRECTUS_HOST: 'https://cache-cms-v2.visas-de.tlscontact.com',
            PIWIK_APP_ID: ''
        }
    </script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/qs@6.11.2/dist/qs.min.js"></script>
    <script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/directus.js"></script>
    <script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/languageSelector.js"></script>
    <script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/appLogo.js"></script>
    <script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/piwikLogger.js"></script>
    <script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/piwik_tracking.js"></script>
    <div class="min-h-screen flex flex-col items-stretch">

      <nav class="fixed z-10 flex h-12 w-full items-center bg-white px-2 md:h-18 lg:gap-4 lg:px-10">
        <div id="main-logo" class="me-2 block h-full max-h-11 flex-1 bg-contain bg-left bg-no-repeat"
          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/tls-logo.svg);"></div>
        <div class="flex rtl items-center md:gap-2">
          <div id="dropdownMenu" class="relative">
            <div class="cursor-pointer rounded-lg p-2 duration-300 hover:bg-gray-50 active:scale-90 !p-0 md:!p-2">
              <div class="flex items-center gap-x-1">
                <div class="h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                  style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/en.svg);">
                </div>
                <p class="text-xs text-primary-500 uppercase">en</p>
                <div class="hidden duration-150 md:block">
                  <svg id="chevronIcon" role="img" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="w-4 fill-primary-500 rotate-0 transition duration-150" aria-label="Select other languages">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M4.46967 8.46967C4.76256 8.17678 5.23744 8.17678 5.53033 8.46967L12.5 15.4393L19.4697 8.46967C19.7626 8.17678 20.2374 8.17678 20.5303 8.46967C20.8232 8.76256 20.8232 9.23744 20.5303 9.53033L13.0303 17.0303C12.7374 17.3232 12.2626 17.3232 11.9697 17.0303L4.46967 9.53033C4.17678 9.23744 4.17678 8.76256 4.46967 8.46967Z">
                    </path>
                  </svg>
                </div>
              </div>
              <div id="dropdownItems" class="flex-col items-center end-0 p-2 mt-2 min-w-24 max-h-72 overflow-auto max-w-32 rounded-lg absolute bg-white hidden cursor-auto">
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=kk"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/kk.svg);">
                        </span>
                        kk
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=de"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/Deutsch.svg);">
                        </span>
                        Deutsch
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=ar"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/.svg);">
                        </span>
                        
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=hy"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/hy.svg);">
                        </span>
                        hy
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=ru"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/ru.svg);">
                        </span>
                        ru
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=tg"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/tg.svg);">
                        </span>
                        tg
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=uz"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/uz.svg);">
                        </span>
                        uz
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=en"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/en.svg);">
                        </span>
                        en
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=az"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/az.svg);">
                        </span>
                        az
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=fa"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/fa.svg);">
                        </span>
                        fa
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=fr"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/fr.svg);">
                        </span>
                        fr
                    </a>
                    <a href="/auth/realms/atlas/login-actions/authenticate?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;kc_locale=ky"
                      class="flex w-full justify-center items-center gap-x-1 text-xs text-primary-500 p-2 no-underline mb-2 mt-2 hover:rounded-lg hover:bg-gray-50 uppercase">
                        <span class="flex-none h-5 w-5 rounded-full bg-gray-100 bg-cover bg-center bg-no-repeat lg:h-6 lg:w-6"
                          style="background-image: url(/auth/resources/huxh1/login/tlscitizen-schengen/img/flags/ky.svg);">
                        </span>
                        ky
                    </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      
<div class="relative flex-1">
  <img class="absolute top-0 start-0 w-full h-[25rem] object-fit"
       src="/auth/resources/huxh1/login/tlscitizen-schengen/img/banner.jpg" 
       alt="A monochromatic blue silhouette of london's skyline displaying iconic skyscrapers and architectural landmarks under a clear sky." />

  <main class="relative flex flex-col items-stretch gap-8 mt-12 md:mt-18 md:gap-14 py-8 md:py-14 px-4">
    <h1 id="login-page-title" class="text-white text-2xl md:text-3xl font-semibold text-center"></h1>

    <form id="kc-login-form" class="bg-primary-100 rounded-lg max-w-4xl w-full mx-auto p-6 md:p-10 flex flex-col items-stretch gap-6"
          method="post" action="https://auth.visas-de.tlscontact.com/auth/realms/atlas/login-actions/authenticate?session_code=0rhD0HxVXP-6_ORkHk9Lzx_k7IGjV4LxV7vs7EW_3_I&amp;execution=6688271c-2703-46f7-ad03-c6d1b3ea41d1&amp;client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI" onsubmit="logLoginAction(event)">
      
      <a href="#login-info-card" class="hidden">Skip to main content</a>

      <div id="login-info-card" class="text-primary-500"></div>

      <div>
        <label id="email-input-label" class="tls-input_label" for="email-input-field"></label>
          <input id="email-input-field" autocomplete="off" class="tls-input" name="username" type="text" autofocus/>
      </div>
      
      <div>
        <label id="password-input-label" class="tls-input_label" for="password-input-field"></label>
        <div class="relative flex items-center">
          <input id="password-input-field" autocomplete="off" class="tls-input pe-10 lg:pe-12" name="password" type="password" autofocus/>
          <div onclick="togglePasswordVisibility('/auth/resources/huxh1/login/tlscitizen-schengen')" class="absolute end-2 lg:end-4 cursor-pointer">
            <img id="toggle-password" src="/auth/resources/huxh1/login/tlscitizen-schengen/img/eye.svg" class="size-8" alt="Show Password">
          </div>
        </div>
      </div>

      <a id="forget-password" class="text-primary-500 underline text-sm" href=/auth/realms/atlas/login-actions/reset-credentials?client_id=tlscitizen&amp;tab_id=JoD6rGDzhvI></a>

      <!-- reCAPTCHA -->
      <div id="it-recaptcha-here" class="form-group flex justify-center">
        <div class="g-recaptcha" data-sitekey="6LdUE4QeAAAAAHrA0D7r-PqnZO3Hrr1FCE5aBnN9"></div>
      </div>

      <button id="btn-login" class="mx-auto h-12 rounded-full flex items-center justify-center px-8 bg-primary-500
                    text-white font-semibold transition duration-300 cursor-pointer hover:bg-primary-500/80 active:scale-90">
          Login
      </button>
      
    </form>
  </main>
</div>
<script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/recaptcha.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/directus.js"></script>
<script type="text/javascript" src="/auth/resources/huxh1/login/tlscitizen-schengen/js/login.js"></script>
<script src="/auth/resources/huxh1/login/tlscitizen-schengen/js/togglePassword.js"></script>

<script>window.cms.reCaptchaDirectusTranslation()</script>


      <footer class="p-10 bg-primary-500 px-6 py-8">
        <div class="container mx-auto">
          <div class="items-center justify-between grid grid-cols-2 md:grid-cols-3 content-between gap-6">
            <img class="h-9 justify-self-start" src="/auth/resources/huxh1/login/tlscitizen-schengen/img/tls-logo-white.svg" 
              alt="TLScontact - A Teleperformance Company logo with stylized lettering in blue and orange colors." />
            <p id="footer-copyrights" class="text-white text-center row-start-2 md:row-start-auto col-span-2 md:col-span-1"></p>
            <img class="h-9 justify-self-end" src="/auth/resources/huxh1/login/tlscitizen-schengen/img/w3c-logo.png" alt="W3C WAI-AA WCAG-2.1" />
          </div>
        </div>
      </footer>
    </div>

  <script src="/auth/resources/huxh1/login/tlscitizen-schengen/js/footer.js"></script>
  </body>
</html>
